html
  head
    block head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!=head.title
    link(rel="stylesheet", href="/static/css/common.css", attr)
    link(rel="stylesheet", href="/static/css/all.min.css", attr)
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css")
    link(rel="stylesheet", href="/static/css/fonts.css", attr)
    link(rel="stylesheet", href=fn.cwd(`static/styles/backoffice.css`), attr)
    script.
      window.publicPath = '#{fn.publicPath()}'
      window.cwd = function(relativePath){
        var root = '#{fn.cwd()}'
        var result = root+'/'+(relativePath||'')
        return result.split('//').join('/')
      }
  body
    block beforeApp
    .appTop()
      common-header(@on_login="login" ref="header" @logout="onLogout" @user="onUser" logo="/panier-libre/static/logo.svg")
      common-login(v-show="showLogin" @close="closeModal" @logged="onLoginSuccess" logo="/panier-libre/static/logo.svg")
    .app
      block beforeHeader
      block afterHeader

      block content

      block beforeFooter
      block afterFooter
    block afterApp

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    script(src="https://unpkg.com/vue@2.6.10/dist/vue.js")
    script(src="https://unpkg.com/vue-router/dist/vue-router.js")

    script(src="https://unpkg.com/axios@0.2.1/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data-1970-2030.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js")
    script(src="/static/js/moment.js")
    //script(src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js")
    //<script  type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js"></script>
    //<script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/theme-clouds.js"></script>
    //<script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/mode-javascript.js"></script>

    script(src=fn.cwd('backoffice.js'))
    script(src="/api.js")

    script(src="/commonHeader.js")
    script(src="/feedbackButton.js")
    script.
      window.createFeedBackButton({
        module_id: 1
      })

    block scripts
