div.
  <h1>Des valeurs qui nous rassemblent...</h1>

  <p>L&rsquo;Alliance Coop&eacute;rative Internationale a &eacute;nonc&eacute; sept grands principes v&eacute;hicul&eacute;s par les SCOP:</p>

  <p><strong>1- L&rsquo;adh&eacute;sion volontaire et ouverte &agrave; tous :</strong><br /> Les coop&eacute;ratives sont des organisations volontaires, ouvertes &agrave; toutes les personnes qui peuvent utiliser leurs services et qui sont dispos&eacute;s
  &agrave; accepter les responsabilit&eacute;s de l&rsquo;adh&eacute;sion, sans discrimination fond&eacute;e sur le sexe, le statut social, la race, la politique ou la religion.</p>

  <p><strong>2- Le pouvoir d&eacute;mocratique exerc&eacute; par les membres :</strong><br /> Les coop&eacute;ratives sont des organisations d&eacute;mocratiques dirig&eacute;es par leurs membres, qui participent activement &agrave; &eacute;tablir leurs politiques
  et &agrave; prendre des d&eacute;cisions. Les hommes et les femmes qui sont des repr&eacute;sentants &eacute;lus sont responsables aupr&egrave;s des membres. Dans une coop&eacute;rative &eacute;l&eacute;mentaire, les membres ont des droits de vote
  &eacute;gaux, tandis qu&rsquo;une coop&eacute;rative &agrave; un autre niveau est organis&eacute;e de mani&egrave;re d&eacute;mocratique.</p>

  <p><strong>3- La participation &eacute;conomique des membres :</strong><br /> Les membres contribuent de fa&ccedil;on &eacute;gale au capital de leur coop&eacute;rative et la dirigent d&eacute;mocratiquement. Au moins une partie de ce capital est habituellement
  la propri&eacute;t&eacute; commune de la coop&eacute;rative. Ils re&ccedil;oivent habituellement une r&eacute;mun&eacute;ration limit&eacute;e, le cas &eacute;ch&eacute;ant, sur le capital souscris comme condition d&rsquo;adh&eacute;sion. Les membres
  r&eacute;partissent les exc&eacute;dents pour une ou plusieurs des raisons suivantes : le d&eacute;veloppement de la coop&eacute;rative, &eacute;ventuellement par l&rsquo;&eacute;tablissement de r&eacute;serves, dont au moins une partie est indivisible,
  ce qui profite aux membres dans la proportion de leurs transactions avec la coop&eacute;rative et soutient d&rsquo;autres activit&eacute;s approuv&eacute;es par les membres.</p>

  <p><strong>4- L&rsquo;autonomie et l&rsquo;ind&eacute;pendance :</strong><br /> Une coop&eacute;rative est une organisation autonome d&rsquo;auto-assistance dirig&eacute;e par ses membres. Si elle conclut des conventions avec d&rsquo;autres organisations,
  y compris des pouvoirs publics, ou si elle recueille des capitaux de sources ext&eacute;rieures, elle le fait &agrave; des conditions qui assurent la direction d&eacute;mocratique par ses membres et maintient son autonomie coop&eacute;rative.</p>

  <p><strong>5- L&rsquo;&eacute;ducation, la formation et l&rsquo;information :</strong><br /> Une coop&eacute;rative offre de l&rsquo;&eacute;ducation et de la formation &agrave; ses membres, &agrave; ses repr&eacute;sentants &eacute;lus, &agrave; ses gestionnaires
  et &agrave; ses salari&eacute;s afin qu&rsquo;ils puissent contribuer efficacement au d&eacute;veloppement de la coop&eacute;rative. Elle informe le grand public &ndash; particuli&egrave;rement les jeunes et les leaders d&rsquo;opinions &ndash; sur
  la nature et les avantages de la coop&eacute;ration.</p>

  <p><strong>6- La coop&eacute;ration entre les coop&eacute;ratives :</strong><br /> La coop&eacute;rative sert ses membres tr&egrave;s efficacement et renforce le mouvement coop&eacute;ratif en collaborant avec les autres coop&eacute;ratives dans le cadre
  de structures locales, r&eacute;gionales, nationales et internationales.</p>

  <p><strong>7- L&rsquo;engagement envers la communaut&eacute; :</strong><br /> Tout en mettant l&rsquo;accent sur les besoins de ses membres, la coop&eacute;rative travaille pour le d&eacute;veloppement durable de la communaut&eacute; au moyen des politiques
  accept&eacute;es par ses membres.</p>