
footer
  a(href="/") Page d'accueil
  a(href="/contact") Contactez nous
  a(href="https://www.facebook.com/savoietc/" target="_blank") Suis nous sur Facebook
  a(href="/legal-mentions") Politique de confidentialité