-
  var title = head.title ? head.title + ' - ' + head.titlePrefix : head.titlePrefix
if head.title
  title!=head.title + ' - ' + head.titlePrefix
else
  title!=head.titlePrefix

link(rel='shortcut icon', href=fn.cwd('/static/stc-favicon.ico'), type='image/x-icon')
link(rel='icon', href=fn.cwd('/static/stc-favicon.ico'), type='image/x-icon')
link(rel='icon', type='image/png', href=fn.cwd('/static/stc-favicon-32x32.png'), sizes='32x32')


meta(name='viewport', content='width=device-width, initial-scale=1')
if head.description
  meta(name='description', content=head.description)
else    
  meta(name='description', content='Coopérative technologique du département de la Savoie spécialisée dans la création d’outils décentralisés et «open source» pour les entrepreneurs et les coopératives locaux afin d’aider à l’organisation et à la collaboration, ainsi qu’au développement numérique. ')
meta(name='keywords', content='numérique digital cooperative technique opensource entrepreneurs savoie')
meta(name='robots', content='index, follow')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

if title
  meta(property='og:title', content=title)
if head.description
meta(property='og:description', content=head.description)
if head.imageUrl
  meta(property='og:image', content=head.imageUrl)
if head.url
  meta(property='og:url', content=head.url)
if title
  meta(name='twitter:title', content=title)
if head.description
  meta(name='twitter:description', content=head.description)
if head.imageUrl
  meta(name='twitter:image', content=head.imageUrl)
meta(name='twitter:card', content='summary_large_image')

link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@0.2.3/css/minstyle.io.min.css")
link(rel="stylesheet", href=fn.cwd(`static/styles/fonts.css`), attr)
link(rel="stylesheet", href=fn.cwd(`static/styles/main.css`), attr)

<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

script(src="https://www.googletagmanager.com/gtag/js?id=UA-60303213-15" cache="0")
script(src=fn.cwd(`static/lib/ga.js`))
script(src=fn.cwd(`static/lib/segment.js`))
