html
  head

    include ../partials/head.pug
    block head

  body
    block beforeApp
    .app
      block beforeHeader
      include ../partials/header.pug
      block afterHeader


      .app_content
        block content

      block beforeFooter
      include ../partials/footer.pug
      block afterFooter
    block styles
    block afterApp

    script(src="https://unpkg.com/vue@2.6.10/dist/vue.js")
    script(src="https://unpkg.com/axios@0.2.1/dist/axios.min.js")
    script(src="/api.js")
    script(src="/analytics.js")
    block scripts

