div.
  <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
  <h2>savoie.misitioba.com est un site appartenant &agrave; MisitioBA</h2>
  <p>Micro-enterprise immatricul&eacute;e &agrave;&nbsp;&nbsp;Chambery A 817&nbsp;989&nbsp;346</p>
  <h3>Si&egrave;ge social</h3>
  <p>MisitioBA<br /> Le Cimeteret &ndash; 73340 Aillon-Le-Vieux &ndash; France</p>
  <p><br /> Directeur de la publication : Javier Leandro Arancibia</p>
  <p>Contact webmaster : savoie@misitioba.com<br /> Tel : +33 (0)7 82 80 90 54</p>
  <h3>H&eacute;bergement</h3>
  <p>Digital Ocean<br /><span class="LrzXr">101 6th Ave, New York, NY 10013, EE. UU</span></p>
  <h3>Copyright &ndash; Marques d&eacute;pos&eacute;es</h3>
  <p>Nous utilisons de nombreuses briques logiciels et mentionnons des soci&eacute;t&eacute;s et services dont les noms et marques sont d&eacute;pos&eacute;es dans de nombreux pays. Les droits respectifs de chacun d&rsquo;eux doivent &ecirc;tre respect&eacute;s.</p>
  <h3>Droits de propri&eacute;t&eacute; intellectuelle</h3>
  <p>L&rsquo;ensemble du contenu de ce site comme sa d&eacute;nomination sa pr&eacute;sentation et son contenu constituent une oeuvre originale prot&eacute;g&eacute;e par les lois en vigueur sur la propri&eacute;t&eacute; intellectuelle, &eacute;dit&eacute;e par MisitioBA. Toute reproduction, repr&eacute;sentation, utilisation ou modification, par quelque proc&eacute;d&eacute; que ce soit et sur quelque support que ce soit, de tout ou partie du site, de sa d&eacute;nomination, de tout ou partie des diff&eacute;rentes &oelig;uvres et mod&egrave;les de produits qui le composent, sans avoir obtenu l&rsquo;autorisation pr&eacute;alable de MisitioBA, est strictement interdite et constitue un d&eacute;lit de contrefa&ccedil;on puni de deux ans d&rsquo;emprisonnement et de 150 000 euros d&rsquo;amende.</p>
  <h3>Informations et contenus</h3>
  <p>Les informations pr&eacute;sent&eacute;es et disponibles dans nos pages ne repr&eacute;sentent que nos avis et points de vue exprim&eacute;s &agrave; la date de publication de chaque page. Elles peuvent pr&eacute;senter des inexactitudes et n&rsquo;ont comme objectif que de prodiguer des informations les plus compl&egrave;tes et utiles aux internautes. Nous nous r&eacute;servons le droit des les modifier ou supprimer sans pr&eacute;avis. Nous ne fournissons aucune garantie explicite ou implicite et ne saurions &ecirc;tre tenu pour responsable de quelque dommage pouvant r&eacute;sulter d&rsquo;une quelconque utilisation de ces informations. Toutes informations et &eacute;l&eacute;ments qui nous seront transmises, seront r&eacute;put&eacute;es comme non confidentielles. Vous conc&eacute;dez express&eacute;ment &agrave; MisitioBA un droit illimit&eacute; et irr&eacute;vocable d&rsquo;utiliser, publier, commenter ces informations et &eacute;l&eacute;ments. Leur origine ne sera pas divulgu&eacute;e (1) sauf votre autorisation expresse, (2) notre notification pr&eacute;alable &agrave; l&rsquo;&eacute;metteur de la mention de son nom (3) si nous y sommes l&eacute;galement oblig&eacute;s.</p>
  <h3>Traductions</h3>
  <p>Notre site comporte des pages dans plusieurs langues. Certaines ont &eacute;t&eacute; traduites par nos soins ou par un logiciel. Ceci uniquement dans un but de faciliter l&rsquo;acc&egrave;s &agrave; l&rsquo;information. Nous ne serions &ecirc;tre tenu responsable de leur pertinence, exactitude, exhaustivit&eacute;.</p>
  <h2>Pratiques en mati&egrave;re de respect de la vie priv&eacute;e</h2>
  <p>Le R&egrave;glement G&eacute;n&eacute;ral de Protection des donn&eacute;es (RGPD) entrant en vigueur le 25 mai 2018, d&eacute;finissent les principes &agrave; respecter lors de la collecte, du traitement et de la conservation de donn&eacute;es personnelles. Ils garantissent aussi les droits pour les personnes concern&eacute;es.</p>
  <h2>Plusieurs formulaires sont pr&eacute;sents sur le site savoie.misitioba.com afin de collecter les donn&eacute;es d&rsquo;un visiteur :</h2>
  <h3>1 : Objectifs</h3>
  <p>Le recueil des donn&eacute;es sur le site savoie.misitioba.com a pour objectif de constituer un fichier de gestion des prospects et clients de MisitioBA. Ce fichier est utilis&eacute; &agrave; des fins statistiques, pour contacter et/ou proposer des contenus pertinents aux contacts.</p>
  <h3>2 : Pertinence des donn&eacute;es</h3>
  <p>Afin de suivre au mieux l&rsquo;int&eacute;r&ecirc;t port&eacute; par les prospects et clients de MisitioBA, le fichier recueille toutes informations des visiteurs du site savoie.misitioba.com relatives &agrave; l&rsquo;identit&eacute;, informations professionnelles et son activit&eacute; sur le site savoie.misitioba.com. Conform&eacute;ment &agrave; la loi informatique et libert&eacute;s, les informations relevant des origines raciales ou ethniques, des opinions politiques, philosophiques ou religieuses, de l&rsquo;appartenance syndicale, de la sant&eacute; ou de la vie sexuelle d&rsquo;une personne ne sont pas collect&eacute;es et sont interdites (donn&eacute;es sensibles).</p>
  <h3>3 : Lic&eacute;it&eacute; du traitement et conditions applicables au consentement (art.6 et 7 du RGPD)</h3>
  <p>Le consentement du traitement de donn&eacute;es &agrave; caract&egrave;re personnelle d&rsquo;un visiteur est syst&eacute;matiquement obtenu pour une ou plusieurs finalit&eacute;s sp&eacute;cifique. Par exemple, lors de la saisie d&rsquo;un formulaire d&rsquo;inscription &agrave; la newsletter ou de t&eacute;l&eacute;chargement d&rsquo;une ressource, l&rsquo;obtention de l&rsquo;adresse email du visiteur a pour but de lui adresser une notification lors de nouvelles publications ou de lui proposer des ressources susceptibles de l&rsquo;int&eacute;resser. &nbsp;</p>
  <h3>4 : Conservation des donn&eacute;es</h3>
  <p>Les donn&eacute;es recueillies sur le site savoie.misitioba.com sont conserv&eacute;es pour une dur&eacute;e maximale de 12 mois pour les contacts anonymes, apr&egrave;s la derni&egrave;re activit&eacute; sur le site web par la personne. En revanche, pour les contacts identifi&eacute;s, les donn&eacute;es recueillies sur le site&nbsp;savoie.misitioba.com sont conserv&eacute;es pour une dur&eacute;e maximale de 36 mois sans activit&eacute; associ&eacute;e.&nbsp;&Agrave; l&rsquo;issue de ces p&eacute;riodes, toutes les donn&eacute;es relatives &agrave; la personne sont automatiquement supprim&eacute;es.</p>
  <h3>5 : Droits des personnes&nbsp; (art.16 &agrave; 20 du RGPD)</h3>
  <p>Conform&eacute;ment &agrave; la loi informatique et libert&eacute;s et au RGPD, toutes personnes peut exercer son droit d&rsquo;acc&egrave;s, de rectification, d&rsquo;opposition, &agrave; la limitation des traitements, &agrave; la suppression et la portabilit&eacute; des donn&eacute;es le concernant en faisant la demande par courrier sign&eacute; et accompagn&eacute; de la copie d&rsquo;un titre d&rsquo;identit&eacute; &agrave; l&rsquo;adresse du si&egrave;ge social de MisitioBA, ou en remplissant le formulaire pr&eacute;sent &agrave; cette adresse : https://savoie.misitioba.com/lp/administration-des-donnees-personnelles</p>
  <p>Le responsable du fichier, Mme Audrey Maleyrie, effectuera une r&eacute;ponse au plus tard dans le mois suivant la demande d&rsquo;acc&egrave;s ou de rectification.</p>
  <h3>6 : S&eacute;curit&eacute; des donn&eacute;es et traitements (art. 32 du RGPD)</h3>
  <p>Les donn&eacute;es recueillies sur le site savoie.misitioba.com et les traitements associ&eacute;s, sont h&eacute;berg&eacute;es par la soci&eacute;t&eacute; MisitioBA. Seules les personnes li&eacute;es au service technique, marketing et commercial de la soci&eacute;t&eacute; MisitioBA et ses sous-traitants ont acc&egrave;s aux informations recueillies sur le site savoie.misitioba.com, via un identifiant personnel et unique &agrave; la plateforme MisitioBA.</p>
  <h3>7 : Atteinte aux donn&eacute;es et communication sous 72h (art. 33 et 34 du RGPD)</h3>
  <p>En cas de violation ou suspicion de violation de donn&eacute;es &agrave; caract&egrave;res personnels, MisitioBA et ses sous-traitants notifieront la CNIL et ses usag&eacute;s, 72h au plus tard, apr&egrave;s en avoir pris connaissance.</p>
  <h2>Donn&eacute;es personnelles</h2>
  <p>Afin de prodiguer la meilleure exp&eacute;rience possible, des contenus informatifs de qualit&eacute;, l&rsquo;acc&egrave;s &agrave; des informations sp&eacute;cifiques tels que des ressources et tutoriaux, un espace priv&eacute;, le visiteur du site peut &ecirc;tre amen&eacute; &agrave; renseigner des formulaires, voire &agrave; se connecter via un login et mot de passe. Les informations recueillies font alors l&rsquo;objet d&rsquo;un traitement informatique rendu n&eacute;cessaire pour la r&eacute;alisation de la prestation. Les destinataires des donn&eacute;es sont exclusivement les personnes travaillant pour l&rsquo;entreprise MisitioBA.</p>
  <p>Conform&eacute;ment &agrave; la loi &laquo; informatique et libert&eacute;s &raquo; du 6 janvier 1978 modifi&eacute;e en 2004, vous b&eacute;n&eacute;ficiez d&rsquo;un droit d&rsquo;acc&egrave;s et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant &agrave; notre service support, &agrave; l&rsquo;adresse support AT MisitioBA POINT com. Vous pouvez &eacute;galement, pour des motifs l&eacute;gitimes, vous opposer au traitement des donn&eacute;es vous concernant.</p>
  <h3>A propos des cookies</h3>
  <p>Nous utilisons diff&eacute;rents cookies sur le site pour am&eacute;liorer l&rsquo;interactivit&eacute; et l&rsquo;exp&eacute;rience de navigation du site et nos services.</p>
  <h4><strong>Qu&rsquo;est-ce qu&rsquo;un &laquo;&nbsp;cookie&nbsp;&raquo; ?</strong></h4>
  <p>Un &laquo;&nbsp;cookie&nbsp;&raquo; est un fichier de taille limit&eacute;e, g&eacute;n&eacute;ralement constitu&eacute; de lettres et de chiffres, envoy&eacute; par le serveur internet au fichier cookie du navigateur situ&eacute; sur le disque dur de votre ordinateur.</p>
  <h4><strong>Objectifs des cookies utilis&eacute;s sur le site</strong></h4>
  <p>Le site internet savoie.misitioba.com utilise des cookies aux fins suivantes :</p>
  <ul>
  <li>Pour nous aider &agrave; reconna&icirc;tre votre navigateur comme celui d&rsquo;un visiteur pr&eacute;c&eacute;dent et pour enregistrer les pr&eacute;f&eacute;rences que vous avez d&eacute;termin&eacute;es lors de votre pr&eacute;c&eacute;dente visite sur le site ;</li>
  <li>Pour nous aider &agrave; personnaliser le contenu et les publicit&eacute;s que vous voyez lorsque vous visitez le site ;</li>
  <li>Pour nous aider &agrave; mesurer et &eacute;tudier l&rsquo;efficacit&eacute; de notre contenu interactif en ligne, de ses caract&eacute;ristiques, publicit&eacute;s et autres communications ; et</li>
  <li>Pour suivre les donn&eacute;es analytiques sur le site, l&rsquo;utilisation faite du site par les utilisateurs et pour am&eacute;liorer les services du site.</li>
  </ul>