extends ../partials/layout.pug
block head

block scripts
block afterHeader
block content
  .container
    .row
      .col-s-12
        h3 Le Collectif
        p Pendant ce temps, le projet global est toujours une initiative (N'est pas encore un SCOP). Tous les membres de l'équipe sont des volontaires.
      .col-s-12.col-m-6.col-l-4
        h6 Javier Leandro Arancibia
        a(href="https://www.linkedin.com/in/arancibiajav/" target="_blank")
          <i class="lni lni-linkedin-original"></i>
        p Full-stack Engineer
      .col-s-12.col-m-6.col-l-4
        h6 Maelle Aubert
        a(href="https://www.linkedin.com/in/ma%C3%ABlle-aubert-771aba109/" target="_blank")
          <i class="lni lni-linkedin-original"></i>
        p Business developer
      .col-s-12.col-m-6.col-l-4
        h6 Richard Gentilella
        a(href="https://www.linkedin.com/in/richard-gentilella/" target="_blank")
          <i class="lni lni-linkedin-original"></i>
        p SEO Advisor
      .col-s-12
        hr
        p Vous souhaitez nous aider à développer les outils et faire partie de l'initiative? 
          a(href="/contact") Contactez nous!
    .row
      include ../partials/our-values.pug
    .row
      .col-12
        include ../partials/coop-principes.pug