extends ../partials/layout.pug
block afterHeader
  div.image_banner
block content
  form
    label Nom complet
    input(v-model="form.name")
    label Email*
    input(v-model="form.email")
    label Téléphone
    input(v-model="form.phone")
    label Message*
    textarea(v-model="form.message")
    button.btn(@click="send" type="button") Envoyer
block afterApp
  style(scoped).
    label{
      margin-top: 15px;
    }
    textarea{
      min-height:200px;
    }
block scripts
  script(src=fn.cwd('contact.js'))

