extends ../partials/layout.pug
block head
block scripts
block afterHeader
block content
  .container
    .col-s-12
      h3 Les outils web
      p Si vous faites partie d'une association ou d'une coopérative et que vous avez besoin d'un outil web pour booster votre plateforme, n'hésitez pas à nous contacter.
    .col-s-12
      ul.tools_list
        li.tools_list__item
          img(src="/savoietc/static/images/tools/basket_hot/panierlibre_logo.png")
          .infos
            a(href="/outils-web/reservation-de-paniers")
              h1.tools_list_title(style="padding-bottom:0px") PanierLibre
            p Cet outil vous permet de gérer les paniers lors de la création, de l’édition et de la visualisation, et vous fournit un système de réservation qui permet aux clients de réserver via une page spéciale ou via votre page Web existante.
    .col-12
      p Les petits outils web, ou "le liens vers les plateformes coopératives". Le plateformes cooperatives sont des outils numériques qui utilisent les valeurs issues du coopérativisme dans leur modèle de développement. Elles facilitent la coopération des habitants, des commerçants, des acteurs de la transition et des collectivités territoriales dans tous les secteurs critiques. Elles ont prouvé une fois de plus leur valeur pour la résilience des territoires dans le cadre de la crise covid 19, tout en utilisant un modèle d’entrepreneuriat original, plus vertueux que les géantes américaines qui ont inspiré les startups auxquelles nous sommes habitués.
      p Plus d'infos sur 
        a(href="https://coopdescommuns.org/" target="_blank") les coop des communs
    div
      hr
      p Vous souhaitez nous aider à développer les outils et faire partie de l'initiative? Contactez nous!
block styles
  style(scoped).
    .tools_list__item{
      display:grid;
      grid-template-columns: 200px 1fr;
    }
    .tools_list__item img{
      max-width:200px;
    }
    .tools_list__item p {
      color:grey;
    }
  
