.app_content {
    margin-top: -280px;
}

p.home_quote {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.home_quote .highlight {
    font-size: 28px;
    font-weight: bold;
}

form.request_demo {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
}

.cta_label {
    font-size: 22px;
    margin: 10px auto;
    font-weight: bold;
    color: #1dabe7;
}

.cta_input {
    min-height: 50px;
    font-size: 16px;
    color: #1dabe7;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border: 3px solid #1dabe7;
    border-radius: 10px;
}

.cta_button {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    max-width: 250px;
}

.home_banner {
    /*background: linear-gradient( rgba(204, 0, 0, .85), rgba(204, 0, 0, 0.85)), url('/static/images/backgrounds/code.jpg');*/
    background: linear-gradient( rgba(204, 0, 0, 1), rgba(204, 0, 0, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: #1dabe7;
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
}

.how_it_works {
    padding: 50px;
}

.how_it_works p {}

.partner_img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.image_banner {
    background: linear-gradient( rgba(255, 255, 255, 0.14), rgba(34, 32, 32, 0)), url('https://images.unsplash.com/photo-1445350064936-e3a588b50a0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80');
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

.message {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

@media only screen and (max-width: 639px) {
    p.home_quote {
        font-size: 16px;
    }
    .home_quote .highlight {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1047px) {}

@media only screen and (min-width: 1048px) {
    .message {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 1400px) {
    .message {
        max-width: 1200px;
    }
}