extends ../../partials/layout.pug
block head
  link(rel="stylesheet", href="/res/home/home.css", attr)
block scripts
  script(src=fn.cwd(`home.js`))
  script.
    var el = document.querySelector('.app_content')
    let initialValue = -280;
    var value = initialValue
    el.style.marginTop= `${value}px`
    setInterval(()=>{
      let offset = document.body.scrollTop
      let newValue = initialValue + Math.round(offset*0.2) * -1
      if(value!=newValue){
        value = newValue
          el.style.marginTop= `${newValue}px`
      }
    },10)

block afterHeader
  div.image_banner

block content



  .home_banner
    p.home_quote.
      Nous sommes d'ingénieurs respectueux de l'environnement en train de créer la première <span class="highlight">coopérative technologique</span>  du département de la Savoie spécialisée dans la création d’outils 
      décentralisés et 
      <span class="highlight">«logiciel libre»</span>
      pour les entrepreneurs et les coopératives locaux afin d’aider à l’organisation et à la collaboration, au sein des organisations ou entre elles, ainsi qu’au 
      <span class="highlight">développement numérique</span>
      .

  .message
    .how_it_works
      h2 Comment ça marche?

      p Nous proposons l'utilisation de nos outils de deux manières différentes. Vous pouvez les utiliser directement via nos serveurs en payant un montant mensuel au prix libre. Vous pouvez également télécharger le code source et l’héberger sur vos serveurs.

    

    h2 Les outils web
    .tools_list
      a(href="/outils-web/reservation-de-paniers")
        img(src="/savoietc/static/images/tools/basket_hot/panierlibre_logo.png")

    h2 Notre futur conseiller dans la région

    //a(href="https://www.digital-savoie.fr/" target="_blank")
      img.partner_img(src="/savoietc/static/images/orgs/tech_alps_cham.jpg")
    a(href="http://www.scop.org/" target="_blank")
      img.partner_img(src="/savoietc/static/images/orgs/scop-auvergne-rhone-alpes-logo.jpg")

    form.request_demo
      label.cta_label Newsletter
      input.cta_input(v-model="form.email" placeholder="")
      button.btn.cta_button(type="button" @click="requestDemo") Tiens-moi au courant !

block styles
  style(scoped).
    .tools_list{
      display:flex;
      justify-content:center;
    }
    .tools_list img{
      max-width:300px;
      margin:0 auto;
    }